*{
  margin: 0;
  padding: 0;
}



.header{
  width:100%;
  min-height:100vh;
  background-image: url(background.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.formbox{
  width: 70%;
  height: 70vh;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.27);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 15%;
  top: 15vh;
 position: fixed;
  z-index: 2;
  border-radius: 11px;
  display: none;
}
.formbox i{
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.formbox h3{
  text-align: center;
}
.formcontent{
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin-left: 15%;
  width: 70%;
  top: 30%;
}

.formcolume{

  flex-basis:50%;
}
.formcolume input[type=text]{
  background-color: transparent;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid red;
  width: 100%;
  padding: 3px 10px;
  font-size: 15px;
}
.formcolume input[type= Submit]{
  
  width: 100%;
  background-color: transparent;
  padding-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid black;
}
.formcolright{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  justify-content: center;
  
}
@media(max-width:700px){
  .formcontent{
    flex-direction: column;
  }
  .formcolright{
    margin-top: 15%;
  }
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2% 6%;
}
nav img{
width: 200px;
padding-bottom: 3cm;
padding-right: 3cm;
}

.link{
  flex: 1;
  text-align: right;
  display: inline-block;
    padding-top:15px;
 
}
.link ul li{
  list-style: none;
  display:inline-block;
  position:relative;
  padding: 10px 12px;
  margin: 5px;
  margin-bottom: 4cm;
  margin-right: 7px;
}
.link ul li a{
  color: black;
  text-decoration: none;
  font-size: 25px;
  
}
.link ul li::after{
  content:'';
  width:0%; 
  height:2px;
  background: red;
  display:block;
  margin: auto;
  transition: 0.2s;
}

.link ul li:hover::after{
width:100%;
}
.textbox{
  width:80%;
  position: absolute;
  color: rgb(7, 5, 5);
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align:center;
  }
.textbox h1{
  font-size: 70px;
  
  
}

.textbox p{
  font-size: 20px
  
}
.Register-button{
  display:inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 12px 34px;
  font-size: 25px;
  background:transparent;
  position: relative;
  cursor:pointer;
}
.Register-button:hover{
   border:2px solid red;
    background :red;
    border-radius:8px;
}

nav .fa{
  display: none;
}
@media(max-width: 1000px){
  .textbox h1{
      font-size: 40px;
  }
  .link ul li{
     
      display: block;
  }
  .link ul li{
     
    margin:8%;
  }


.link{
  background: #949398FF;
  position: fixed;
  right: -200px;
  top: 0;
  height: 100vh;
  width: 200px;
  text-align: left;
  z-index:2;
  transition: 1s;
 
}
nav .fa{
  display: block;
  font-size: 24px;
  cursor: pointer;
  color: white;
  margin: 10px;
}
  
}


/* feature section start*/
.height{
   text-align: center;
   margin-top: 3%;
   font-size: 35px;
}
p{
  text-align: center;
  font-size: 25px;
}
.row{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.colume{
  flex-basis: 31%;
  text-align: center;
  margin: 3%;
  background-color: lightgrey;
  padding: 2%;
  border-radius: 15px
}
.colume:hover{
  background-color: red;
  color: beige;
box-shadow: 10px 10px 5px gray;
cursor:pointer;
transform: scale(1.1);
}
@media(max-width:700px){
.row{
flex-direction: column;
}
}
/* feature section close*/
/* subject section start*/

.subject{
  width:80%;
  margin:auto;
 
}
.subject-col{
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;

  position: relative;
  overflow: hidden;
}


.subject-col img{
  height: 350px;
  width: 300px;
  border-radius: 10px;
  position: relative;
}
.sub{
  position: absolute;
  top:0;
  left:0;
  height: 400px;
  width: 300px;
  color:#ff934f;
  font-size: 30px;
  cursor: pointer;
}
.sub:hover h3{
  background-color: #ff934f;
  position: absolute;
  top:0;
  left:0;
  height: 400px;
  width: 300px;
  color:#f7ff58;
 font-size: 35px; 
transform: translateY(75%);
transition: 1s;
cursor: pointer;
}


/*feedback section*/

.feedback{
  width: 80%;
  margin: auto;
}
.feedback-col{
  display: flex;
  background-color: lightskyblue;
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 7%;
  margin-top: 5%;
}
.feedback-col img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
}
.feedname{
  padding: 11px;
}
.feedname p{
  text-align: left;
  font-size: 22.5px;
}

/* feedback section close*/
/*  About us section Start*/

.aboutus{
  width: 90%;
  min-height: 37vh;
  margin:auto;
  margin-bottom: 10%;
  background-image: url("about.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}
.aboutus h1{
   font-size: 35px;
}
@media(max-width:700px){
  .aboutus h1{
    font-size: 20px;
  }
}

/*  About us section close*/
/*  Footer section start*/
.footer{
  text-align: center;
  padding-top: 7px;
  background: rgba( 96, 94, 94, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.lastline{
  display: flex;
  width:90%;
  margin:auto;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.privacy{
  flex:1;
  display: inline-block;
  text-align: right;
}
/* Footer section close*/


